html {
	overflow-x: hidden;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
}

.login-form-container {
	min-height: 100vh;
}

.sidenav {
	background-color: #111;
	position: fixed;
	height: 100vh;
}

.sidenav a {
	text-decoration: none;
	font-size: 1.35rem;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	font-size: 1.2rem;
	margin-left: 35rem;
}

img {
	max-width: 800px;
	background-color: #efefef;
}

form label {
	position: relative;
}

form .form-group>label::after {
	/*position: absolute;*/
	content: " : ";
	right: 0;
}
